@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: white;
}

header{
    background-image: url("https://10websites-design-to-html-css.netlify.app/automotive-car-design/car-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 95vh;
    padding: 0 300px;
}
footer{
    height: 15vh;
    padding: 0 400px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.nav .logo{
    font-size:40px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
button{
    background-color: #00c2ff;
    color: white;
    border: none;
    padding: 16px;
}

.content{
    margin-top:200px;
    color: white;
}
.content h1{
    font-size: 60px;
    color: #00c2ff;
}
.content p{
    font-size: 20px;
}
.content button{
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;

}
.item h5{
    color: #00c2ff;
}
.item p{
    color: white;
}

@media all and (max-width: 500px) {
    header {
      padding: 10px;
    }
    .nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .nav button {
      display: none;
    }
    footer {
      padding: 10px;
      flex-direction: column;
      height: fit-content;
    }
  }